/* Header */

.header {
  background-color: #f55a5a;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  color: white;
  margin-top: 0;
  font-family: "Inter", sans-serif;
}
